<div class="header">
    		<h1 class="title"><% if user_signed_in? %> Welcome, <%= current_user.first_name %> <%= current_user.last_name %> <% else %> <% end %></h1>
        	<div class="logo"></div>
          <ul class="nav">
            	<li><a href="javascript:void(0)">matches</a></li>
                <li><a href="/movies" <% if @title == 'movies' %> class="active_button" <% end %>>movies</a></li>
                <li><a href="/user/account" <% if @title == 'account' %> class="active_button" <% end %> >account</a></li>
            </ul><!-- .nav -->
            
            <!-- clear the float -->
            <div class="clearfloat"></div>
        </div><!-- .header -->
<div class="section"> 
  <div class="article profile">
  	<h2 class="headshots">Add Synopsis </h2><br>

    <% form_for [:user, @synopsis],:html => { :class=>'form', :id=>'add_photo' } do |f| %>
      
      <%- @synopsis.errors.full_messages.each do |message| -%>
        <div class="errorExplanation"> <p><%= message %></p></div>
      <%- end -%>
 
      <p class="text_box"> <%= f.label :title %></p>
      <p class="text_box1"> <%= f.text_area :title %></p>
      <div class="clearfloat"></div>
      

      <p class="button" style="margin:10px 0 0 188px;"> <button type="submit"> Save </button>
	      <button type="submit" onclick="javascript:history.back()" > Cancel </button> 
	    </p>

    <% end %>

    </div><!-- article -->
    <!-- END Aritcle -->
</div><!-- .section -->