      <div class="header">
    		<h1 class="title"><% if user_signed_in? %> Welcome, <%= current_user.first_name %> <%= current_user.last_name %> <% else %> <% end %></h1>
        	<div class="logo"></div>
          <ul class="nav">
            	<li><%= link_to "matches", {:controller=>"/pages", :action=>'matches'} %></li>
              <li><%= link_to "movies", {:controller=>"/pages", :action=>'movies'} %></li>
              <li><%= link_to "profile", {:controller=>"user/account", :action=>'index'} %></li>
            </ul><!-- .nav -->
            
            <!-- clear the float -->
            <div class="clearfloat"></div>
        </div><!-- .header -->
        
<h2>Resend confirmation instructions</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.submit "Resend confirmation instructions" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>