<div class="header">
  		<h1 class="title"><% if user_signed_in? %> Welcome, <%= current_user.first_name %> <%= current_user.last_name %> <% else %> <% end %></h1>
      	<div class="logo"></div>
        <ul class="nav">
          	<li><%= link_to "matches", {:controller=>"/pages", :action=>'matches'} %></li>
            <li><%= link_to "movies", {:controller=>"/pages", :action=>'movies'} %></li>
            <li><%= link_to "profile", {:controller=>"user/account", :action=>'index'} %></li>
          </ul><!-- .nav -->
          
          <!-- clear the float -->
          <div class="clearfloat"></div>
      </div><!-- .header -->
<div class="section"> 
  <div class="article profile">
  	<h2 class="headshots">Add Favorite movie of all time </h2><br>

    <% form_for [:user, @favmovie],:html => { :class=>'form', :id=>'add_photo' } do |f| %>
      
      <%- @favmovie.errors.full_messages.each do |message| -%>
        <div class="errorExplanation"> <p><%= message %></p></div>
      <%- end -%>
 
      <p class="text_box"> <%= f.label :title %></p>
      <p class="text_box1"> <%= f.text_area :title %></p>
      <div class="clearfloat"></div>
     
      <p class="button" style="margin:10px 0 0 188px;"> <button type="submit"> Save </button>
	      <button type="submit" onclick="javascript:history.back()" > Cancel </button> 
	    </p>

    <% end %>

    </div><!-- article -->
    <!-- END Aritcle -->
</div><!-- .section -->