<script>
jQuery(function()
{
    jQuery("#div1 a").click(function(event) {
        event.preventDefault();
        jQuery("#div1").slideUp();
        jQuery("#synopsis").slideToggle();
    });
        
});

</script>
<% if @synopsis.nil? %>
  <div id="synopsis" style="display:block;">Add Synopsis</div>
<% else %>
  <div id="synopsis" style="display:block;"><%= @synopsis.title %></div>
<% end %>


<div id="div1" style="display:none; border-top: 1px solid #D8D5D5;padding: 10px 0 16px;position: relative;border-bottom: 1px solid #D8D5D5;">

  <% form_for :users, :url=>{:controller=>"user/account", :action => "update_synopsis"}, :remote =>'true' do |f| %>
    <% if @synopsis.nil? %>
      <p><%= f.text_area :title, :rows => 4, :cols => 34, :class=>'profile_textarea' %></p>
    <% else %>
      <p><%= f.text_area :title, :rows => 4, :cols => 34, :class=>'profile_textarea', :value=>"#{@synopsis.title}" %></p>
    <% end %>
    
      <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit 'Save', :class => 'button_to' %>
    <a href="javascript:void(0);" class="button_to">Cancel</a>
    
  <% end %>
</div>