<div class="header">
    		<h1 class="title"><% if user_signed_in? %> Welcome, <%= current_user.first_name %> <%= current_user.last_name %> <% else %> <% end %></h1>
        	<div class="logo"></div>
          <ul class="nav">
            	<li><a href="javascript:void(0)">matches</a></li>
                <li><a href="/movies" <% if @title == 'movies' %> class="active_button" <% end %>>movies</a></li>
                <li><a href="/user/account" <% if @title == 'account' %> class="active_button" <% end %> >account</a></li>
            </ul><!-- .nav -->
            
            <!-- clear the float -->
            <div class="clearfloat"></div>
        </div><!-- .header -->
        
<div class="section"> 
    <div class="article profile">
    	<h2 class="headshots">User Registration </h2><br>

        <p class="headshot_msg">Welcome to Let's Get Popcorn!</p>
        <p>Just fill in following details to explore entertainment the way it's supposed to be enjoyed - together!</p>

          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html=>{:class=>'form'}) do |f| %>
            <fieldset>
            <%= devise_error_messages! %>

              <span class="text_box">*First name</span>
              <span class="text_box1"><%= f.text_field :first_name %></span>
              <div class="clearfloat"></div>

              <span class="text_box">*Last name</span>
              <span class="text_box1"><%= f.text_field :last_name %></span>
              <div class="clearfloat"></div>

              <span class="text_box">*Username</span>
              <span class="text_box1"><%= f.text_field :username %></span>
              <div class="clearfloat"></div>

              <span class="text_box">*Email</span>
              <span class="text_box1"><%= f.email_field :email %></span>
              <div class="clearfloat"></div>

              <span class="text_box">*Password</span>
              <span class="text_box1"><%= f.password_field :password %></span>
              <div class="clearfloat"></div>

              <span class="text_box">*password Confirmation</span>
              <span class="text_box1"><%= f.password_field :password_confirmation %></span>
              <div class="clearfloat"></div>

              <p style="margin:10px 0 0 160px;"><%= f.submit "Sign up", :class=>'input-submit' %></p>
              </fieldset>
            <% end %>

              <p style="margin:10px 0 0 188px;"><%= render :partial => "devise/shared/links" %></p>
      
        
                      
    </div><!-- article -->
    <!-- END Aritcle -->
</div><!-- .section -->







