<h1>Listing invite_codes</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Audience</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @invite_codes.each do |invite_code| %>
  <tr>
    <td><%= invite_code.code %></td>
    <td><%= invite_code.audience %></td>
    <td><%= invite_code.comment %></td>
    <td><%= link_to 'Show', invite_code %></td>
    <td><%= link_to 'Edit', edit_invite_code_path(invite_code) %></td>
    <td><%= link_to 'Destroy', invite_code, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Invite code', new_invite_code_path %>
