<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @invite_code.code %>
</p>

<p>
  <b>Audience:</b>
  <%= @invite_code.audience %>
</p>

<p>
  <b>Comment:</b>
  <%= @invite_code.comment %>
</p>


<%= link_to 'Edit', edit_invite_code_path(@invite_code) %> |
<%= link_to 'Back', invite_codes_path %>
