<div class="header">
    		<h1 class="title"><% if user_signed_in? %> Welcome, <%= current_user.first_name %> <%= current_user.last_name %> <% else %> <% end %></h1>
        	<div class="logo"></div>
          <ul class="nav">
            	<li><a href="javascript:void(0)">matches</a></li>
                <li><a href="/movies" <% if @title == 'movies' %> class="active_button" <% end %>>movies</a></li>
                <li><a href="/user/account" <% if @title == 'account' %> class="active_button" <% end %> >account</a></li>
            </ul><!-- .nav -->
            
            <!-- clear the float -->
            <div class="clearfloat"></div>
        </div><!-- .header -->
<div style="padding-left: 213px;">
<h2>Change your password</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <p><%= f.label :password, "New password" %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation, "Confirm new password" %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Change my password" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>

</div>