<div id="dialog" style="display:none;">

	<center><div class="div_inner">
		<div class="heading" ><strong>Register FREE and find your movie match!</strong></div> 
        <div style="padding-left:80px;">
		<table width="95%" border="0" cellspacing="2" cellpadding="2">
			<tr>
				<!--<td width="43%">
					<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:1px solid #FFF;">
						<tr>
							<td><div style="position:absolute;padding-left:20px;"><img src="images/warch-movie.jpg" alt="" /></div></td>
						</tr>
					</table>-->
					<!-- <div style="position:absolute;"><img src="images/warch-movie.jpg" alt="" /></div> --></td>
				<td style="padding-top:10px;padding-right:10px;padding-left:0px;">
					<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html=>{:multipart => true}) do |f| %>
      	<table width="100%" border="0" cellspacing="2" cellpadding="2">
      	<%= devise_error_messages! %>
        <% if request.get? and params[:user] %>
        <%= f.hidden_field :gender, :value => "#{params[:user][:gender]}" %>
        <%= f.hidden_field :orientation, :value => "#{params[:user][:orientation]}" %>
        <% else %>
        <tr>
            <td colspan="2">
              <strong> I am </strong>
              <%= select :user, :gender, options_for_select([["A Girl", "female"],["A Guy", "male"]]) %>
             <strong> interested in having popcorn with </strong>
              <%= select :user, :orientation, options_for_select([["A Guy", "men"], ["A Girl", "women"], ["Any","any"]]) %>
            </td>
        </tr>
        <% end %>
        <tr>
            <td style="vertical-align: top;" align="left"><strong>Username </strong></td>
            <td  align="left"><%= f.text_field :username %></td>
        </tr>
        <tr>
            <td style="vertical-align: top;" align="left"><strong>Password</strong></td>
            <td align="left"><%= f.password_field :password %></td>
        </tr>
        <tr>
            <td style="vertical-align: top;" align="left"><strong>Password Confirmation </strong></td>
            <td align="left"><%= f.password_field :password_confirmation %></td>
        </tr>
        <tr>
            <td style="vertical-align: top;" align="left"><strong>E-Mail</strong></td>
            <td align="left"><%= f.email_field :email %></td>
        </tr>
        <tr>
            <td style="vertical-align: top;" align="left"><strong>Birthday </strong></td>
            <td align="left"><%= f.date_select :birthday, :start_year => 1912, :use_month_numbers => true, :order => [:month, :day, :year], :prompt => {:month => 'mm', :day => 'dd', :year => 'yyyy' } %> </td>
        </tr>
        <tr>
            <td style="vertical-align: top;" valign="top" style="padding:5px 0 0 0" align="left"><strong>Zip Code</strong></td>
            <td align="left"><%= f.text_field :zip %><br /><div align="left" style="font-size:11px; color:#666666; text-align:left; margin:-5px 0 0 0;">This is to locate theaters near you</div></td>
        </tr>
        <tr>
            <td style="vertical-align: top;" align="left"><strong>Profile Photo </strong></td>
            <td align="left"> <%= f.file_field :profile_photo %></td>
        </tr>
        <tr>
  	          <td colspan="2" style="padding-top:5px;"></td>
        </tr>
        <tr>
              <td>&nbsp;</td>
              <td align="right"><%= f.submit "Sign up", :class=>'button' %></td>
        </tr>
        </table>
         <% end %>
				</td>
			</tr>
		</table></div>
    </div>
</div> </center>
 


	<div class="wrapper">
           
    	<div class="header">
        	<div class="logo"></div>
            <h1 class="title">Welcome, Hot Stuff!</h1>
            <ul class="nav">
            	<li><%= link_to "matches", {:controller=>"/pages", :action=>'matches'} %></li>
              <li><%= link_to "movies", {:controller=>"/pages", :action=>'movies'} %></li>
              <li><%= link_to "profile", {:controller=>"user/account", :action=>'index'} %></li>
            </ul><!-- .nav -->
            
            <!-- clear the float -->
            <div class="clearfloat"></div>
        </div><!-- .header -->


        <div class="section">
            
            <div class="search_filternew">
               <button type="button">Guys</button> <span class="article1">within [xxx] miles of [zipcode] who want to see: </span><br>
               <span class="article1">Ides of March, Moneyball, Abduction, Titanic 3d, Mup… (<a href="#">change</a>)</span>
                   
                   
            </div><!-- .search_filter -->
            
            <div class="articlenew profile">
            	<p align="right">&nbsp;</p>
            	<h2 class="headshots">Today</h2>
                <div class="profile_column_left">
                	<div class="profile_1">
                    	<img src="/images/photo.jpg" class="photo" />
                        
                        	<p><span><strong>Guy</strong></span>, Straight, 38, New York City<br>
                            Wants to see: Moneyball<br>
                              At 8pm, 9:30pm, 10:30pm or 11:15pm<br>
                              Looking for: The kinda girl that can pull of Katherine Heigl in 
                              Knocked Up.</p>
                                
                              <div class="clearfloat"></div> 
                    </div>
                    
                    <div class="profile_1">
                    	<img src="/images/photo.jpg" class="photo" />
                        
                        	<p><span><strong>Seth</strong></span>, Straight, 28, New York City<br>
                          Wants to see:  What’s Your Number?<br>
                          Doppleganger: Chris Rock</p>
                                   
                          <div class="clearfloat"></div> 
                    </div>
                    
                    
                   <div class="profile_1">
                    	<img src="/images/photo.jpg" class="photo" />
                        
                        	<p><span><strong>Guy</strong></span>, Straight, 38, New York City<br>
                          Wants to see: Moneyball<br>
                          At 8pm, 9:30pm, 10:30pm or 11:15pm<br>
                          Looking for: The kinda girl that can pull of Katherine Heigl in 
                          Knocked Up.</p>
                                
                          <div class="clearfloat"></div> 
                    </div>
                    
                    <div class="profile_1">
                    	<img src="/images/photo.jpg" class="photo" />
                        
                        	<p><span><strong>Seth</strong></span>, Straight, 28, New York City<br>
                          Wants to see:  What’s Your Number?<br>
                          Doppleganger: Chris Rock</p>
                                   
                          <div class="clearfloat"></div> 
                    </div>
                    
                    
                	<div class="profile_1">
                    	<img src="/images/photo.jpg" class="photo" />
                        
                        	<p><span><strong>Guy</strong></span>, Straight, 38, New York City<br>
                          Wants to see: Moneyball<br>
                          At 8pm, 9:30pm, 10:30pm or 11:15pm<br>
                          Looking for: The kinda girl that can pull of Katherine Heigl in 
                          Knocked Up.</p>
                                
                    <div class="clearfloat"></div> 
                    </div>
                    
                    <div class="profile_1">
                    	<img src="/images/photo.jpg" class="photo" />
                        
                        	<p><span><strong>Seth</strong></span>, Straight, 28, New York City<br>
                          Wants to see:  What’s Your Number?<br>
                          Doppleganger: Chris Rock</p>
                                    
                    <div class="clearfloat"></div> 
                    </div>
                    
                    
                    
                   <div class="profile_1">
                    	<img src="/images/photo.jpg" class="photo" />
                        
                        	<p><span><strong>Guy</strong></span>, Straight, 38, New York City<br>
                          Wants to see: Moneyball<br>
                          At 8pm, 9:30pm, 10:30pm or 11:15pm<br>
                          Looking for: The kinda girl that can pull of Katherine Heigl in 
                          Knocked Up.</p>
                                
                    <div class="clearfloat"></div> 
                    </div>
                    
                    <div class="profile_1">
                    	<img src="/images/photo.jpg" class="photo" />
                        
                        	<p><span><strong>Seth</strong></span>, Straight, 28, New York City<br>
                          Wants to see:  What’s Your Number?<br>
                          Doppleganger: Chris Rock</p>
                                    
                    <div class="clearfloat"></div> 
                    </div>
                    
                    
                    
                    
                  <div class="clearfloat"></div>   
                </div><br><br>

             
             <div class="clearfloat"></div>
              <h2 class="headshots" style="padding:10px 0 0 0;">Friday</h2>   
            </div><!-- article -->
            <!-- END Aritcle -->
        </div><!-- .section -->
            
        <!-- Start Sidebar (aside) -->
        <div class="aside">
            <ul>
           		<h2>MOVIES</h2>
                
            <!-- clear the float -->
            <div class="clearfloat"></div>
            </ul>
        </div><!-- .aside -->
        <!-- END Sidebar (aside) -->