
<script type="text/javascript">
        jQuery(document).ready(function () {
    jQuery("input[type=checkbox]").each(function () {
      jQuery(this).change(updateCount); 
    });

    updateCount();

    function updateCount () {
      var count = jQuery("input[type=checkbox]:checked").size();

      jQuery("#count").text(count);
      jQuery("#status").toggle(count >0);
    };
  });

</script>

<% unless @doc3.css("theatre").attr('theatreid').nil? %>
  <% theatreid = @doc3.css("theatre").attr('theatreid') %>
<% end %>
<% @doc3.css("theatre").css("theatreday").each do |theatre| %>
  

<% if "#{theatre.attr('day')}" == "#{params[:showday]}" %>
  
<% theatre.css("movie").each do |movie| %>
  
  
  
    <% if "#{movie.attr('movieid')}" == "#{params[:movieid]}" %>
    
    
    
        <div style="margin-bottom:10px;"> Select Times:</div>
  
        <table width="100%" border="0" cellspacing="10" cellpadding="10">
        <tr>
              <td>
              
              <% form_for :showtime, :url=>{:controller=>"pages", :action => "addtime"} do |f| %>
      
                <% movie.css("showtime").each do |showtime| %>
                  
                  <% datetime = DateTime.strptime("#{showtime.attr("datetime")}", "%Y-%m-%dT%H:%M:%S").strftime("%Y-%m-%d %H:%M:%S") %>
                  <% movdt = DateTime.strptime("#{showtime.attr("datetime")}", "%Y-%m-%dT%H:%M:%S").strftime("%Y%m%d%H%M%S") %>

                  <% movie_time = DateTime.strptime("#{showtime.attr("datetime")}", "%Y-%m-%dT%H:%M:%S").strftime("%I:%M%p") %>
                  <div class="cb">
                  
                  <%= check_box_tag "task_ids[]", datetime %> <%= movie_time %>
                  
                  
                  <%= f.hidden_field :movieid, :value =>"#{params['movieid']}" %>
                  <%= f.hidden_field :theatreid, :value =>"#{theatreid}" %>
                  
                  <% if user_signed_in? %>
                  <%= f.hidden_field :user_id, :value =>"#{current_user.id}" %>
                  <% end %>
                  
                  
                  
                  </div>
                  
                <% end %>  
                
                <div id="status">
                
                  <button class="post" type="submit">
                    Post (<span id='count'>0</span>) times
                  </button>
                
                </div>
              <% end %>
              </td>
        </tr>
        </table> 
     
        <% end %>
        
        
      
      <% end %>
      
    <% end %>
      
  <% end %>
  
    



