<div class="header">
  	<div class="logo"></div>
      <h1 class="title">Welcome, Hot Stuff!</h1>
      <ul class="nav">
      	<li><%= link_to "matches", {:controller=>"/pages", :action=>'matches'}, :class=>"active_button" %></li>
        <li><%= link_to "movies", {:controller=>"/pages", :action=>'movies'} %></li>
        <li><%= link_to "profile", {:controller=>"user/account", :action=>'index'} %></li>
      </ul><!-- .nav -->
      
      <!-- clear the float -->
      <div class="clearfloat"></div>
  </div><!-- .header -->


  <div class="section">
      
      <div class="search_filternew">
         <button type="button">Guys</button> <span class="article1">within [xxx] miles of [zipcode] who want to see: </span><br>
         <span class="article1">Ides of March, Moneyball, Abduction, Titanic 3d, Mup… (<a href="#">change</a>)</span>
             
             
      </div><!-- .search_filter -->
      
      <div class="articlenew profile">
      	<p align="right">&nbsp;</p>
      	
      	<% previousday = "" %>
      	
      	<div class="profile_column_left">
      	<% @matches.each do |matche| %>
      	  
      	  <% if previousday !=  matche.showdate.strftime("%Y-%m-%d") %>
            	<div class="clearfloat"></div>
          <% end %>
            	 
    	  <% if previousday !=  matche.showdate.strftime("%Y-%m-%d") %>
            <h2 class="headshots"><%= matche.showdate.strftime("%A") %></h2>
        <% end %>
        	<div class="profile_1">
        	
        	  <% user = User.find_by_id(matche.user_id) %>
        	  
        	  <% if user.profile_photo.url(:thumb) == "/profile_photos/thumb/missing.png" %>
        	     
        	    <%= link_to image_tag("/images/photo.jpg", :border => 0), {:action => 'profile', :controller => '/pages'}, :class => 'photo' %>
              
        	  <% else %>
            	<%= link_to image_tag(user.profile_photo.url(:thumb), :class=>"photo"), {:controller=>"/pages", :action=>'profile', :id=>"#{user.id}"} %>
            <% end %>
                
                	<p><span><strong><%= link_to "#{user.username}", {:controller=>"/pages", :action=>'profile', :id=>"#{user.id}"} %></strong></span>, Straight, 
                	
                	<% if user.birthday? %>
                	  <% now, birthday = Time.now.utc.to_date, user.birthday %> <%= now.year - birthday.year - (birthday.to_date.change(:year => now.year) > now ? 1 : 0)%>,
                	<% end %> <br>
                  <% url2 = "http://api.tmsdatadirect.com/movies/MovieSummary?rType=xml&srvcVersion=1.0&aid=rocking-4q7&key=K4w3s3D93NFg&movieId=#{matche.movieid}&country=USA&lang=en" %>
                  <% @doc2 = Nokogiri::HTML(open(url2)) %>
                  
                  Wants to see: <%= @doc2.css("movie").css('title').css('text')[0].text %><br>
                  At 8pm, 9:30pm, 10:30pm or 11:15pm<br>
                  Looking for: The kinda girl that can pull of Katherine Heigl in 
                  Knocked Up.</p>
                        
            
            </div>
          <% previousday = matche.showdate.strftime("%Y-%m-%d") %>
        <% end %>
          
          </div>

       
       <div class="clearfloat"></div>
        
      </div><!-- article -->
      <!-- END Aritcle -->
  </div><!-- .section -->
      
  <!-- Start Sidebar (aside) -->
  <div class="aside">
      <ul>
     		<h2>MOVIES</h2>
          
      <!-- clear the float -->
      <div class="clearfloat"></div>
      </ul>
  </div><!-- .aside -->
  <!-- END Sidebar (aside) -->