 	<div class="header">
    		<h1 class="title"><%= @page.header_title%></h1>
        	<div class="logo"></div>
          <ul class="nav">
            	<li><%= link_to "matches", {:controller=>"/pages", :action=>'matches'} %></li>
              <li><%= link_to "movies", {:controller=>"/pages", :action=>'movies'} %></li>
              <li><%= link_to "profile", {:controller=>"user/account", :action=>'index'} %></li>
            </ul><!-- .nav -->
            
            <!-- clear the float -->
            <div class="clearfloat"></div>
        </div><!-- .header -->
        
 <div class="section">
            
           

<div class="article profile">
	
	<h2 class="headshots"><%= @page.title %></h2>
	
  <br class="cl">
 
      <%= @page.body.html_safe %>
     
   </div><!-- article -->
            <!-- END Aritcle -->
        </div><!-- .section -->
            
        <!-- Start Sidebar (aside) -->

        <div class="aside">
            
        </div><!-- .aside -->
        <!-- END Sidebar (aside) -->
        
        <!-- clear the float -->
   

     
    
 

          
      
 
 
 
 
 
 
 

