  <div class="header">
  		<h1 class="title"><% if user_signed_in? %> Welcome, <%= current_user.username %>  <% else %> <% end %></h1>
  		  <%= render :partial =>"home/header" %>
  </div><!-- .header -->


   <div class="section">
            
           

            <div class="articlenew profile">
            <!--	<h2 class="headshots">Welcome John Doe</h2> -->
               <!-- .headshot_msg -->
                <div style="padding-left: 140px;">
                <h3 class="headshots">8 Updates:</h3>
                <div class="profile_area">
                <div class="profile_inner">
                	<img src="/images/avtar_sml.png" alt="" align="left" class="avtar_pics">
                    <p class="avtar_con"> <strong>John Doe</strong> has asked you out!</p>
                </div>
                <div class="clearfloat"></div>
                <div class="clearfloat"></div>
                
                <div class="profile_inner">
                	<img src="/images/avtar_sml.png" alt="" align="left" class="avtar_pics">
                    <p class="avtar_con"> <strong>John Doe</strong> has asked you out!</p>
                </div>
                <div class="clearfloat"></div>
                
                
                
                <div class="profile_inner">
                	<img src="/images/avtar_sml.png" alt="" align="left" class="avtar_pics">
                    <p class="avtar_con"> <strong>John Doe</strong> has asked you out!</p>
                </div>
                <div class="clearfloat"></div>
                
                <div class="profile_inner">
                	<img src="/images/avtar_sml.png" alt="" align="left" class="avtar_pics">
                    <p class="avtar_con"> <strong>John Doe</strong> has asked you out!</p>
                </div>
                <div class="clearfloat"></div>
                
               
                </div>
                </div>
                 <p align="right"><a href="#">See 4 more...</a></p>
                 <hr>
                 
                 <h3>Recent activity:</h3>
                 
                 <div class="recent_activity">
                 	
                    
                    <div class="activity_inner"><a href="#">
						
                    	<a href="#"><img src="/images/avatar_1.png" alt="" height="88" width="99" align="left" style="padding-right:10px;"></a>
                        <a href="#"><strong><font color="#A80202">Guy</font></strong>, Straight, 38, New York City<br>Wants to see<span style="padding-left:3px;">:</span>Moneyball<br>Looking for<span style="padding-left:12px;">:</span> The kinda girl that can pull of Katherine Heigl in Knocked Up, but not quite as dumb...</a>

                        
						<div class="clearfloat"></div>    
                    </a></div>
					
                    
                    
                    <div class="activity_inner">
                    	<img src="/images/avatar_1.png" alt="" height="88" width="99" align="left" style="padding-right:10px;">
                        <a href="#"><strong><font color="#A80202">Guy</font></strong>, Straight, 38, New York City<br>Wants to see<span style="padding-left:3px;">:</span> Moneyball<br>Looking for<span style="padding-left:12px;">:</span> The kinda girl that can pull of Katherine Heigl in Knocked Up, but not quite as dumb...</a>

                        
                    <div class="clearfloat"></div>    
                    </div>
                    <div style="padding-top:10px;"><p align="right"><a href="matches.html">See more...</a></p></div>                
                    
                 </div>

                 
            </div><!-- article -->
            <!-- END Aritcle -->
        </div><!-- .section -->
            
        <!-- Start Sidebar (aside) -->
        <div class="aside">
           	<h2>Ads</h2>    
                <div class="advertise">
                	<p align="center"><strong>Advertise Here</strong></p>
                </div>
              
            <h2>Proﬁle Views:</h2>
                <ul class="profile_view_list">
                    <% @viewers.each do |item| %>
                        <li><div>
            
                            <% user = User.find_by_id(item.viewer_id) %>
              
                            <% if user.profile_photo.url(:thumb) == "/profile_photos/thumb/missing.png" %>
                                <%= link_to image_tag("/images/photo.jpg", :border => 0), {:action => 'profile', :controller => '/pages', :id=>"#{user.id}"}, :class => 'photo' %>
              
                            <% else %>
                                <%= link_to image_tag(user.profile_photo.url(:thumb), :class=>"photo"), {:controller=>"/pages", :action=>'profile', :id=>"#{user.id}"} %>
                            <% end %>
                
                            <p><span class="user_name"><strong><%= link_to "#{user.username}", {:controller=>"/pages", :action=>'profile', :id=>"#{user.id}"} %></strong></span>
                                <!-- Movie: <span class="user_movie">Moneyball</span> -->
                            </p>            
                        </div><div class="clearfloat"></div></li>
                    <% end %>      
                    <!-- clear the float -->
                    <div class="clearfloat"></div>
                </ul><!-- .profile_view_list -->
       
        </div><!-- .aside -->
        <!-- END Sidebar (aside) -->
        
        <!-- clear the float -->
        <div class="clearfloat"></div>
        
