 <%= render :partial => "uploadify" %> 

 <div id="dialog" style="display:none;">
	<div class="div_inner">
		<div class="heading" ><strong>You're almost there!</strong></div> 
      <div style="padding-left:0px;">
		  <table width="95%" border="0" cellspacing="2" cellpadding="2">
			<tr>
				  <td style="padding-top:10px;padding-right:10px;padding-left:0px;">
			  	  <div id="moduleframe">	
              <h3 id="photos_count" style="text-align:left;"><%= pluralize(@user.albums.size, "Photo")%></h3>
                <div id="uploads">
                    <%= render :partial => @user.albums %>
                </div>

                <!-- Upload picture -->
  					    <%= form_for [:user,Album.new(:user_id => @user.id)], :html => {:multipart => true} do |f| %> 
                   <table width="100%">
          					<%= f.hidden_field :user_id, :value => @user.id %>
          					<tr>
          						  <td align="left" width="54%" style="vertical-align: top !important;"><strong>Upload more pictures for your highlight reel!</strong></td>
        						    <td align="left"><%= f.file_field :photo %></td>
        						</tr>
                   </table>
                <% end %>
                <!-- End Upload picture -->
                

  						  <% form_for :users do |f| %>
  						    <table width="100%">
  						    <%= f.hidden_field :user_id, :value => @user.id %>
  						    <tr>
  						        <td align="left" width="50%" style="vertical-align: top !important;"><strong>Summary ( a little bit about yourself )</strong></td>
  						        <td align="left"><%= f.text_area :title, :rows => 3, :cols => 36 %></td>
            			</tr>
  						          
                  <tr>
              				<td align="left" width="50%" style="vertical-align: top !important;"><strong> What are you looking for in your "best supporting actor/actress?</strong></td>
  						        <td align="left"><%= f.text_area :supporting_actor, :rows => 3, :cols => 36 %></td>
            			</tr>
            			<tr>
            			    <td colspan="2">&nbsp;</td>
            			</tr>
                          
                  <tr>
              				<td colspan="2">    
                      <div class="formArea_next">
  						        <p align="right"  class="cont1_next" style="width:550px;"> 
  						          <%= link_to "Skip for now and start browsing", {:controller=>"dashboard", :action=>'index'} %>
  						          <span style="padding-left:25px;">
  						            <%= f.submit "Next", :class=>'button' %>
  						          </span>
  						        </p>
  						        </div>
  						        </td>
  						    </tr>
  						    </table>
                 <% end %>
              
              
				</td>
			</tr>
		</table>
		  </div>
    </div>
</div> 

 


	<div class="wrapper">
           
    	<div class="header">
      		<h1 class="title"><% if user_signed_in? %> Welcome, <%= current_user.username %>  <% else %> <% end %></h1>
      		  <%= render :partial =>"home/header" %>
      </div><!-- .header -->


              <div class="section">

                  <div class="search_filternew">
                     <button type="button">Guys</button> <span class="article1">within [xxx] miles of [zipcode] who want to see: </span><br>
                     <span class="article1">Ides of March, Moneyball, Abduction, Titanic 3d, Mup… (<a href="#">change</a>)</span>


                  </div><!-- .search_filter -->

                  <div class="articlenew profile">
                  	<p align="right">&nbsp;</p>
                  	<h2 class="headshots">Today</h2>
                      <div class="profile_column_left">
                      	<div class="profile_1">
                          	<img src="/images/photo.jpg" class="photo" />

                              	<p><span><strong>Guy</strong></span>, Straight, 38, New York City<br>
                                  Wants to see: Moneyball<br>
                                    At 8pm, 9:30pm, 10:30pm or 11:15pm<br>
                                    Looking for: The kinda girl that can pull of Katherine Heigl in 
                                    Knocked Up.</p>

                                    <div class="clearfloat"></div> 
                          </div>

                          <div class="profile_1">
                          	<img src="/images/photo.jpg" class="photo" />

                              	<p><span><strong>Seth</strong></span>, Straight, 28, New York City<br>
                                Wants to see:  What’s Your Number?<br>
                                Doppleganger: Chris Rock</p>

                                <div class="clearfloat"></div> 
                          </div>


                         <div class="profile_1">
                          	<img src="/images/photo.jpg" class="photo" />

                              	<p><span><strong>Guy</strong></span>, Straight, 38, New York City<br>
                                Wants to see: Moneyball<br>
                                At 8pm, 9:30pm, 10:30pm or 11:15pm<br>
                                Looking for: The kinda girl that can pull of Katherine Heigl in 
                                Knocked Up.</p>

                                <div class="clearfloat"></div> 
                          </div>

                          <div class="profile_1">
                          	<img src="/images/photo.jpg" class="photo" />

                              	<p><span><strong>Seth</strong></span>, Straight, 28, New York City<br>
                                Wants to see:  What’s Your Number?<br>
                                Doppleganger: Chris Rock</p>

                                <div class="clearfloat"></div> 
                          </div>


                      	<div class="profile_1">
                          	<img src="/images/photo.jpg" class="photo" />

                              	<p><span><strong>Guy</strong></span>, Straight, 38, New York City<br>
                                Wants to see: Moneyball<br>
                                At 8pm, 9:30pm, 10:30pm or 11:15pm<br>
                                Looking for: The kinda girl that can pull of Katherine Heigl in 
                                Knocked Up.</p>

                          <div class="clearfloat"></div> 
                          </div>

                          <div class="profile_1">
                          	<img src="/images/photo.jpg" class="photo" />

                              	<p><span><strong>Seth</strong></span>, Straight, 28, New York City<br>
                                Wants to see:  What’s Your Number?<br>
                                Doppleganger: Chris Rock</p>

                          <div class="clearfloat"></div> 
                          </div>



                         <div class="profile_1">
                          	<img src="/images/photo.jpg" class="photo" />

                              	<p><span><strong>Guy</strong></span>, Straight, 38, New York City<br>
                                Wants to see: Moneyball<br>
                                At 8pm, 9:30pm, 10:30pm or 11:15pm<br>
                                Looking for: The kinda girl that can pull of Katherine Heigl in 
                                Knocked Up.</p>

                          <div class="clearfloat"></div> 
                          </div>

                          <div class="profile_1">
                          	<img src="/images/photo.jpg" class="photo" />

                              	<p><span><strong>Seth</strong></span>, Straight, 28, New York City<br>
                                Wants to see:  What’s Your Number?<br>
                                Doppleganger: Chris Rock</p>

                          <div class="clearfloat"></div> 
                          </div>




                        <div class="clearfloat"></div>   
                      </div><br><br>


                   <div class="clearfloat"></div>
                    <h2 class="headshots" style="padding:10px 0 0 0;">Friday</h2>   
                  </div><!-- article -->
                  <!-- END Aritcle -->
              </div><!-- .section -->

              <!-- Start Sidebar (aside) -->
              <div class="aside">
                  <ul>
                 		<h2>MOVIES</h2>

                  <!-- clear the float -->
                  <div class="clearfloat"></div>
                  </ul>
              </div><!-- .aside -->
              <!-- END Sidebar (aside) -->