 

 <div id="dialog" style="display:none;">
	<div class="div_inner">
		<div class="heading" ><strong>Last page! Quiet on the set!</strong></div> 
        <div style="padding-left:0px;">
		<table width="95%" border="0" cellspacing="2" cellpadding="2">
			<tr>
				
				<td style="padding-right:10px;padding-left:0px;">
			  	<div id="moduleframe">	
			  	
  				  <% form_for :users do |f| %>
  					<table width="100%">
  					<%= f.hidden_field :user_id, :value => current_user.id %>
  					<tr>
  						  <td align="left"><strong>Height</strong></td>
						    <td align="left"> 
						        <%= select :users, :height_feet, options_for_select([["--------", ""],3,4,5,6,7]) %>
						        <%= select :users, :height_inches, options_for_select([["--------", ""],0,1,2,3,4,5,6,7,8,9,10,11]) %>
  						      
  						    </td>
  						</tr>
  						<tr>
    						  <td align="left"><strong>Smoke</strong></td>
  						    <td align="left">  
  						        <%= select :users, :smoke, options_for_select([["--------------", ""],"Yes","Sometimes","When drinking","Trying to quit","No"]) %>
    						  </td>
    					</tr>
    					<tr>
    						  <td align="left"><strong>Drink</strong></td>
  						    <td align="left">
  						        <%= select :users, :drink, options_for_select([["-------------", ""],"Very Often","Often","Socially","Rarely","Desperately","Not at All"]) %>
    						  </td>
    					</tr>
    					<tr>
    						  <td align="left"><strong>Favorite movies of all time</strong></td>
  						    <td style="vertical-align: top !important;" align="left">    
    						      <%= f.text_area :favorite_movies, :rows => 3, :cols => 30 %>
    						  </td>
    					</tr>
    					<tr>
    						  <td colspan="2">&nbsp;</td>
    					</tr>
  						  <tr>
      						  <td colspan="2">
  				            
                      <div class="formArea_next">
  						        <p align="right"  class="cont1_next" style="width:550px;"> 
  						          <%= link_to "Skip for now and start browsing", {:controller=>"dashboard", :action=>'index'} %>
  						          <span style="padding-left:25px;">
  						            <%= f.submit "Done", :class=>'button' %>
  						          </span>
  						        </p>
  						       </div>
  						     </td>
  						 </tr>
  						 </table>
              <% end %>
            </div>
              
				</td>
			</tr>
		</table>
		  </div>
    </div>
</div> 

 


	<div class="wrapper">
           
    	<div class="header">
        	<div class="logo"></div>
            <h1 class="title">Welcome, Hot Stuff!</h1>
            <ul class="nav">
            	<li><a href="javascript:void(0)" class="active_button">matches</a></li>
                <li><a href="index.html">movies</a></li>
                <li><a href="javascript:void(0)" >account</a></li>
            </ul><!-- .nav -->
            
            <!-- clear the float -->
            <div class="clearfloat"></div>
        </div><!-- .header -->


        <div class="section">
            
            <div class="search_filternew">
               <button type="button">Guys</button> <span class="article1">within [xxx] miles of [zipcode] who want to see: </span><br>
               <span class="article1">Ides of March, Moneyball, Abduction, Titanic 3d, Mup… (<a href="#">change</a>)</span>
                   
                   
            </div><!-- .search_filter -->
            
            <div class="articlenew profile">
            	<p align="right"><button type="button">Next	7	days</button></p>
            	<h2 class="headshots">Today</h2>
                <div class="profile_column_left">
                	<div class="profile_1">
                    	<img src="/images/avatar_1.png" alt="" align="left" style="padding-right:8px;" />
                        
                        	<p><span><strong>Guy</strong></span>, Straight, 38, New York City<br>
Wants to see: Moneyball<br>
At 8pm, 9:30pm, 10:30pm or 11:15pm<br>
Looking for: The kinda girl that can pull of Katherine Heigl in 
Knocked Up.</p>
                                
                    <div class="clearfloat"></div> 
                    </div>
                    
                    <div class="profile_2">
                    	<img src="/images/avatar_2.png" alt=""  align="left" style="padding-right:8px;"/>
                        
                        	<p><span><strong>Seth</strong></span>, Straight, 28, New York City<br>
Wants to see:  What’s Your Number?<br>
Doppleganger: Chris Rock</p>
                                   
                    <div class="clearfloat"></div> 
                    </div>
                    
                    
                   <div class="profile_1">
                    	<img src="/images/avatar_1.png" alt="" align="left" style="padding-right:8px;" />
                        
                        	<p><span><strong>Guy</strong></span>, Straight, 38, New York City<br>
Wants to see: Moneyball<br>
At 8pm, 9:30pm, 10:30pm or 11:15pm<br>
Looking for: The kinda girl that can pull of Katherine Heigl in 
Knocked Up.</p>
                                
                    <div class="clearfloat"></div> 
                    </div>
                    
                    <div class="profile_2">
                    	<img src="/images/avatar_2.png" alt=""  align="left" style="padding-right:8px;"/>
                        
                        	<p><span><strong>Seth</strong></span>, Straight, 28, New York City<br>
Wants to see:  What’s Your Number?<br>
Doppleganger: Chris Rock</p>
                                   
                    <div class="clearfloat"></div> 
                    </div>
                    
                    
                </div>
                
                 <div class="profile_column_right">
                	<div class="profile_1">
                    	<img src="/images/avatar_1.png" alt="" align="left" style="padding-right:8px;" />
                        
                        	<p><span><strong>Guy</strong></span>, Straight, 38, New York City<br>
Wants to see: Moneyball<br>
At 8pm, 9:30pm, 10:30pm or 11:15pm<br>
Looking for: The kinda girl that can pull of Katherine Heigl in 
Knocked Up.</p>
                                
                    <div class="clearfloat"></div> 
                    </div>
                    
                    <div class="profile_2">
                    	<img src="/images/avatar_2.png" alt="" align="left" style="padding-right:8px;"/>
                        
                        	<p><span><strong>Seth</strong></span>, Straight, 28, New York City<br>
Wants to see:  What’s Your Number?<br>
Doppleganger: Chris Rock</p>
                                    
                    <div class="clearfloat"></div> 
                    </div>
                    
                    
                    
                   <div class="profile_1">
                    	<img src="/images/avatar_1.png" alt="" align="left" style="padding-right:8px;" />
                        
                        	<p><span><strong>Guy</strong></span>, Straight, 38, New York City<br>
Wants to see: Moneyball<br>
At 8pm, 9:30pm, 10:30pm or 11:15pm<br>
Looking for: The kinda girl that can pull of Katherine Heigl in 
Knocked Up.</p>
                                
                    <div class="clearfloat"></div> 
                    </div>
                    
                    <div class="profile_2">
                    	<img src="/images/avatar_2.png" alt="" align="left" style="padding-right:8px;"/>
                        
                        	<p><span><strong>Seth</strong></span>, Straight, 28, New York City<br>
Wants to see:  What’s Your Number?<br>
Doppleganger: Chris Rock</p>
                                    
                    <div class="clearfloat"></div> 
                    </div>
                    
                    
                    
                    
                  <div class="clearfloat"></div>   
                </div><br><br>

             
             <div class="clearfloat"></div>
              <h2 class="headshots" style="padding:10px 0 0 0;">Friday</h2>   
            </div><!-- article -->
            <!-- END Aritcle -->
        </div><!-- .section -->
            
        <!-- Start Sidebar (aside) -->
        <div class="aside">
            <ul>
           		<h2>MOVIES</h2>
                
            <!-- clear the float -->
            <div class="clearfloat"></div>
            </ul>
        </div><!-- .aside -->
        <!-- END Sidebar (aside) -->