  <div class="section"> 
      <div class="article profile">
      	<h2 class="headshots">Sign in </h2><br>
       
       <!-- Start Facebook login --> 
        <p>
          <% if @authentications %>
            <% unless @authentications.empty? %>
              <p><strong>You have signed in with these services:</strong></p>
              <div class="authentications">
              <% for authentication in @authentications %>
              <div class="authentication">
                <%= image_tag "#{authentication.provider}_32.png", :size => "32x32" %>
                <div class="provider"><%= authentication.provider_name %></div>
                <div class="uid"><%= authentication.uid %></div>
                <%= link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :action => 'destroy', :class => "remove" %>
                </div>
              <% end %>
              <div class="clear"></div>
              </div>
            <% end %>
           <p><strong>Add another service to sign in with:</strong></p>
        <% else %>

        <% end %>
        <p style="margin:10px 0 0 188px;"><a href="/auth/facebook" class="auth_provider">
        <img src="/images/facebook-login.png", alt ="Facebook">
        </a></p>
    </p>
    <!-- End Facebook login -->
    <p style="margin:0 0 0 230px;">or</p>

      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html=>{:class=>'form'}) do |f| %>
        <% if !flash.empty? %>
          <div id="notice" style="margin:10px 0 0 140px;"><%= alert %><%= notice %></div>
        <% end %>
    
          <p class="text_box">*<%= f.label :username %></p>
          <p class="text_box1"><%= f.text_field :login %></p>
          <div class="clearfloat"></div>

          <p class="text_box">*<%= f.label :password %></p>
          <p class="text_box1"><%= f.password_field :password %></p>
          <div class="clearfloat"></div>

          <p style="margin:10px 0 0 160px;"><%= f.submit "Sign in" %></p>
      <% end %>

      <p style="margin:10px 0 0 188px;"><%= render :partial => "devise/shared/links" %></p>


        </div><!-- article -->
        <!-- END Aritcle -->
    </div><!-- .section -->