<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>LetsGetPopcorn <%=  @meta_title %></title>
  <%= stylesheet_link_tag 'reset', 'style','jquery-ui', 'skin', 'modalbox', 'jquery.lightbox-0.5', 'SpryTabbedPanels' %>
  <link rel="shortcut icon" href="images/favicon.png" />
  <%= javascript_include_tag 'jquery-1.6.2.min', 'modal/jquery-ui.min', 'jquery.validate.min', 'application', 'prototype', 'modalbox/effects.js', 'jquery.rails', 'jquery.jcarousel.min', 'toggle', 'modalbox/builder', 'modalbox/modalbox', 'jquery.lightbox-0.5', 'SpryTabbedPanels' %>
  <script>
    function selectTime(imgid,cnt)
    {
      var sel = document.getElementById("showtime_seltime").value;
      if(sel !="")
      {
        var selDiv = document.getElementById(sel);
        selDiv.setAttribute("style", "");
        selDiv.setAttribute("style", "border-color: #BCD2E5;");
      }
        var currDivElement = document.getElementById("mt_"+cnt);currDivElement.setAttribute("style", "");
        currDivElement.setAttribute("style", "color: #fff; background: #A80202;");
        document.getElementById("showtime_seltime").value = "mt_"+cnt;
        document.getElementById('showtime_showdate').value = imgid;
    }
    
    jQuery(document).ready(function() {
      jQuery('#mycarousel').jcarousel();
      jQuery('#dialog').dialog({
        autoOpen: true,
        show: 'fade',
        modal: true,
        hide: 'fade'
      });
      jQuery('.gallery a').lightBox();
    });
      
    // should do it something like this instead...
    //  
    // jQuery('.dialog').dialog({
    //   autoOpen: true,
    //   show: 'fade',
    //   modal: true,
    //   hide: 'fade'
    // });
    // jQuery("#upload-link").live('click',function(e){
    //     jQuery("#upload-dialog").dialog('open');
    //     e.preventDefault();
    // });

  </script>
</head>

<body class="account">

	<div class="wrapper">
    
    <%= yield %>
    
    <div class="clearfloat"></div>
    
    <div class="footer">
        <%= render :partial =>"home/footer" %>
    </div><!-- .footer -->
    
  </div><!-- wrapper -->

</body>
</html>
